.M {
    background-color:rgba(10, 132, 255, 0.6);
}
.D, .RHE {
    background-color:rgba(255, 69, 58, 0.6);
}
.PH {
    background-color:rgba(102, 212, 207, 0.6);
}
.KR, .ER, .PP, .PPL, .PL, .SL {
    background-color:rgba(99, 99, 102, 0.6);
}
.CH {
    background-color:rgba(80, 210, 130, 0.6);
}
.IF8, .IF0, .IF, .MK {
    background-color:rgba(100, 210, 255, 0.6);
}
.SW, .PK, .P, .WP {
    background-color:rgba(255, 159, 10, 0.6);
}
.SP {
    background-color:rgba(191, 90, 242, 0.6);
}
.KU {
    background-color:rgba(230, 35, 180, 0.6);
}
.E5, .E {
    background-color:rgba(255, 214, 10, 0.6);
}
.GE {
    background-color:rgba(145, 101, 30, 0.6);
}
.BI, .NW {
    background-color:rgba(48, 209, 88, 0.6);
}
.EK {
    background-color:rgba(172, 142, 104, 0.6);
}
.S8, .S0, .S {
    background-color:rgba(235, 195, 60, 0.6);
}
.MU {
    background-color:rgba(200, 119, 30, 0.6);
}
.F7, .F0, .F6, .L7, .L6, .L, .F, .G, .G0, .G1 {
    background-color:rgba(132, 0, 255, 0.6);
}
.Cambridge {
    background-color:rgba(242, 0, 255, 0.6);
}

.Regen {
    background: linear-gradient(
        90deg,
        rgba(255, 69, 58, 1) 0%,
        rgba(255, 159, 10, 1) 10%,
        rgba(255, 214, 10, 1) 20%,
        rgba(48, 209, 88, 1) 30%,
        rgba(102, 212, 207, 1) 40%,
        rgba(64, 200, 224, 1) 50%,
        rgba(10, 132, 255, 1) 60%,
        rgba(94, 92, 230, 1) 70%,
        rgba(191, 90, 242, 1) 80%,
        rgba(255, 55, 95, 1) 90%,
        rgba(255, 69, 58, 1) 100%
    );
} 